<html xmlns:th="http://www.thymeleaf.org">
<body>
<p>Edit a hero:</p>
<form action="/update"
      th:action="@{/edit/{id}(id=${hero.id})}"
      th:object="${hero}"
      method="post">
    <div style="display:flex;flex-direction:column;">
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Name</span>
            </div>
            <div>
                <input type="text" th:field="*{name}" id="name" placeholder="Name">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Gender</span>
            </div>
            <div>
                <input type="text" th:field="*{gender}" id="gender" placeholder="Gender">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>EyeColor</span>
            </div>
            <div>
                <input type="text" th:field="*{eyeColor}" id="eyeColor" placeholder="EyeColor">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('eyeColor')}" th:errors="*{eyeColor}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Race</span>
            </div>
            <div>
                <input type="text" th:field="*{race}" id="race" placeholder="Race">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('race')}" th:errors="*{race}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>HairColor</span>
            </div>
            <div>
                <input type="text" th:field="*{hairColor}" id="hairColor" placeholder="HairColor">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('hairColor')}" th:errors="*{hairColor}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Height</span>
            </div>
            <div>
                <input type="text" th:field="*{height}" id="height" placeholder="Height">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Publisher</span>
            </div>
            <div>
                <input type="text" th:field="*{publisher}" id="publisher" placeholder="Publisher">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>SkinColor</span>
            </div>
            <div>
                <input type="text" th:field="*{skinColor}" id="skinColor" placeholder="SkinColor">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('skinColor')}" th:errors="*{skinColor}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Alignment</span>
            </div>
            <div>
                <input type="text" th:field="*{alignment}" id="alignment" placeholder="Alignment">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('alignment')}" th:errors="*{alignment}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div>
                <span>Weight</span>
            </div>
            <div>
                <input type="text" th:field="*{weight}" id="weight" placeholder="Weight">
            </div>
            <div>
                <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
            </div>
        </div>
        <div style="display:flex;flex-direction:row;">
            <div></div>
            <div>
                <input type="submit" value="Update">
            </div>
        </div>
    </div>
</form>
</body>
</html>